.tweetContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #617281;
}
.topTweetContainer{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.firstname{
    margin-left: 10px
}
.tagandtime{
    color: gray;
    margin-left: 5px
}
.contentTweet{
    margin-bottom: 20px;
}
.hashtag {
    color: #1DA1F2; /* Couleur bleue similaire à celle de Twitter */
    font-weight: bold;
    cursor: pointer;
}
.iconsContent {
    display: flex;
    flex-direction: row;
}
.likeCount{
    margin-right: 10px;
}